## Crear un string y asignarle un valor

In [2]:
string = 'Patata'
print(string)

Patata

## Len()

In [ ]:
len(string)         # Devuelve la longitud (Número de caracteres del string)

6

## Carácter en posicion X

In [20]:
string[0]           # Devuelve el carácter en la posición indicada entre []
                    # P  a  t  a  t  a
                    # 0  1  2  3  4  5
                    #-6 -5 -4 -3 -2 -1

'P'

In [19]:
string[8]           # Si no hay carácter en la posición da IndexError

IndexError: string index out of range

## Backus-Naur
Se resulve lo de dentro de los corchetes primero

In [ ]:
string[len(string) - 1]     # len(string) = 6 - 1 = 5 ==> string[5]

'a'

## Posicion con :

In [24]:
string[1:3]         # Caracteres de 1 al 3 sin incluir el 3

'at'

In [ ]:
string[1:]          # Todo menos 1 ('P')

'atata'

In [ ]:
string[:3]          # Todo lo anterior a 3 sin incluir

'Pat'

In [ ]:
string[:]               # Todo

'Patata'

In [ ]:
string[::-1]            # Dar la vuelta a un string (SOLO CON -1)

'atataP'

In [45]:
print(string[::2])      # Caracteres de 2 en 2 desde el final ==> P a t a t a (Ptt)
print(string[::-2])     # Caracteres de 2 en 2 desde el principio ==> P a t a t a (aaa)

Ptt
aaa

## Concatenación y repetición

In [ ]:
string + 'chorizo'          # añadir 'chorizo' al string

'Patatachorizo'

In [ ]:
string + ' ' + 'chorizo'     # Se le pueden añadir más de 1 string a la vez

'Patata chorizo'

In [ ]:
string * 6                  # Multiplicar el string y ponerlo 6 veces

'PatataPatataPatataPatataPatataPatata'

In [ ]:
(string + ', ') * 6         # Multiplicarlo pero añadiendo un string (', ') por el medio

'Patata, Patata, Patata, Patata, Patata, Patata, '

## Inmutabilidad

Los objetos inmutables no se pueden cambiar.

Cada objeto en python se clasifica como inmutable o mutable. 

- Numeros, strings, y tuplas son _inmutables_;
- Listas, diccionarios y sets son _mutables_.

In [53]:
string[0] = 'z'

TypeError: 'str' object does not support item assignment

## Se pueden modificar los objetos para craer nuevos

In [54]:
string = 'z' + string[1:]
string

'zatata'

## Strings y listas
Propiedades de los objetos

In [ ]:
string = 'egss'
string_listado = list(string)           # Listar cada carácter del string

print(string_listado)

string_listado[0] = 'z'                 # Como la lista es mutable se puede cambiar su valor 
string_listado

['e', 'g', 's', 's']

['z', 'g', 's', 's']

In [ ]:
''.join(string_listado)                 # Junta string_listado y lo convierte en un string

'zgss'

In [ ]:
'.'.join(string_listado)                 # Añade entre cada objeto de la lista '.'

'z.g.s.s'

## Métodos específicos de strings
### string.find(' ')

In [ ]:
string = 'Patata'               # Encuentra el string indicado en find('ta') y devuelve la posición
string.find('ta')

2

In [ ]:
string.find('ta', 3)            # Encuentra el string indicado desde la posicion indicada

4

In [63]:
string.find(string)

0

In [ ]:
string.find('z')                # Si no existe devuelve -1

-1

### string.replace('esto', 'porEsto')

In [67]:
string.replace('tata', 'to')

'Pato'

### string.upper() y string.lower()

In [ ]:
string.upper()

'PATATA'

In [69]:
string.lower()

'patata'

### string.isalgo()

In [ ]:
print("string is alpha", '==>', string.isalpha())               # Devuelve True si es alphabetic string
print("string is digit", '==>', string.isdigit())               # Devuelve False si no es digit string
print("string is digit", '==>', string.isascii())
print("string is digit", '==>', string.isprintable())

string is alpha ==> True
string is digit ==> False
string is digit ==> True
string is digit ==> True

### string.split()

In [85]:
string = 'spams spam eggs-spam-bacon'
string.split('-')                       # Separa el string por lo especificado en () y lo convierte en una lista

['spams spam eggs', 'spam', 'bacon']

### Rstrip y Lstrip

In [114]:
frase = '    patata \tcon \thuevos \ny chorizo     '     # \t añade una tabulación; \n añade un salto de línea
print(frase)

    patata 	con 	huevos
y chorizo

In [ ]:
frase.rstrip()                  # Quita los espacio en blanco de lado derecho

'    patata \tcon \thuevos \ny chorizo'

In [116]:
frase.lstrip()

'patata \tcon \thuevos \ny chorizo     '

### Formatting
Los strings también admiten una operación de sustitución avanzada conocida como **formatting**

In [ ]:
'%s, eggs, and %s' % ('spam', 'SPAM!')              # Cambia % por lo puesto en los paréntesis

'spam, eggs, and SPAM!'

In [ ]:
'{}, eggs, and {}'.format('spam', 'SPAM!')          # Cambia {} por lo puesto en los paréntesis

'spam, eggs, and SPAM!'

In [3]:
S = 'SpamEggsSpam'
f'{S}'

'SpamEggsSpam'

In [4]:
'{0}'.format(S)

'SpamEggsSpam'

### Herramientas de conversión

In [ ]:
"42" + 1                    # No se puede sumar un número al string

TypeError: can only concatenate str (not "int") to str

In [ ]:
int("42") + 1               # int('42') transforma el string en un entero

43

In [ ]:
"42" + str(1)               # str(1) transforma el entero en un string

'421'

In [ ]:
repr(42)                    # repr(42) transforma a string el objeto

'42'

In [ ]:
repr("42")

"'42'"

### Conversiones de caracteres

Convierte un solo carácter en su código entero subyacente (por ejemplo, su **valor de byte ASCII**) pasándolo a la función `ord ` incorporada; esto devuelve el valor binario real utilizado para representar el carácter correspondiente en la memoria. 

Para el texto ASCII, este es el familiar entero de 7 bits que cabe en un solo byte en la memoria, pero el rango de puntos de código para otros tipos de texto **Unicode** puede ser más amplio.

In [8]:
ord('s')

115

La función `chr` realiza la operación inversa, tomando un código entero y convirtiéndolo en el carácter correspondiente:

In [ ]:
chr(115)

's'